<h1>Listagem dos recados</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Assunto</th>
    <th>Mensagem</th>
  </tr>

<% for message in @messages %>
  <tr>
    <td><%=h message.name %></td>
    <td><%=h message.email %></td>
    <td><%=h message.subject %></td>
    <td><%=h message.body %></td>
    <td><%= link_to 'Ver', message %></td>
    <td><%= link_to 'Responder*', messages_path+'/reply/'+message.id.to_s %></td>
    <td><%= link_to 'Excluir?', message, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>
