<p>
  <b>Nome:</b>
  <%=h @message.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @message.email %>
</p>

<p>
  <b>Assunto:</b>
  <%=h @message.subject %>
</p>

<p>
  <b>Mensagem:</b>
  <%=h @message.body %>
</p>


<%= link_to 'Responder Agora', messages_path+'/reply/'+@message.id.to_s %> |
<%= link_to 'Ok. Voltar', messages_path %>
