<p>
  <b>Nome</b><br />
  <%= f.text_field :name %>
</p>

<p>
  <b>Local</b><br />
  <%= f.text_field :location %>
</p>

<p>
  <b>Url</b><br />
  <%= f.text_field :url %>
</p>

<p>
  <b>Data Início</b><br />
  <%= f.datetime_select :dtstart %>
</p>

<p>
  <b>Encerramento</b><br />
  <%= f.datetime_select :dtend %>
</p>

<p>
  <b>Timezone</b><br />
  <%= f.text_field :timezone %>
</p>

<p>
  <b>Descrição</b><br />
  <%= f.text_area :description %>
</p>