<h1>Células, eventos, festas...</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Local</th>
    <th>Início</th>
    <th>Fim</th>
    <th>Descrição</th>
  </tr>

<% for event in @events %>
  <tr>
		<% if event.url? %>
    <td><%= link_to event.name, event.url %></td>
		<% else %>
		<td><%=h event.name %></td>
		<% end %>
    <td><%=h event.location %></td>
    <td><%=h event.dtstart %></td>
    <td><%=h event.dtend %></td>
    <td><%=h event.description %></td>
    <td><%= link_to 'Ver', event %></td>
    <td><%= link_to 'Editar', edit_event_path(event) %></td>
    <td><%= link_to 'Excluir?', event, :confirm => "Essa operação não pode ser desfeita, você tem certeza que quer excluir o evento '#{event.name}'?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Quero criar um novo', new_event_path %>
