<p>
  <b>Nome:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Local:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Url:</b>
  <%=h @event.url %>
</p>

<p>
  <b>Data Início:</b>
  <%=h @event.dtstart %>
</p>

<p>
  <b>Encerramento:</b>
  <%=h @event.dtend %>
</p>

<p>
  <b>Timezone:</b>
  <%=h @event.timezone %>
</p>

<p>
  <b>Descrição:</b>
  <%=h @event.description %>
</p>


<%= link_to 'Preciso editar', edit_event_path(@event) %> |
<%= link_to 'OK. Volta', events_path %>
