<p>
  <b>Nome</b><br />
  <%= f.text_field :name %>
</p>

<p>
  <b>Título (Será mostrado na barra superior do Navegador)</b><br />
  <%= f.text_field :title %>
</p>

<p>
  <b>Corpo</b><br />
  <%= f.text_area :body %>
</p>

<p>
  <b>Admin (Será uma área apenas para acessos autoriados)?</b><br />
  <%= f.check_box :admin %>
</p>

<p>
	<b>É uma sub área? Escolha a área principal</b><br/>
	<%= f.collection_select :parent_id, Page.find(:all), :id, :title, :include_blank => true %>
</p>

<p>
	<b>Posicionamento</b><br/>
	<%= f.text_field :position, :size => '3' %>
</p>

<p>
	<b>Nome Menu</b><br/>
	<%= f.text_field :navlabel %>
</p>

<fieldset>
	<p>
		<b>Redirect?</b><br/>
		<%= f.check_box :redirect %>
	</p>


	<p>
		<b>Action</b><br/>
		<%= f.text_field :action_name %>
	</p>


	<p>
		<b>Controller</b><br/>
		<%= f.text_field :controller_name %>
	</p>
</fieldset>