<h1>Listagem das Áreas do Site</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Título</th>
    <th>Corpo</th>
		<th>Admin?</th>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%=h page.name %></td>
    <td><%=h page.title %></td>
    <td><%=h page.body %></td>
		<td><%= page.admin? ? "SIM" : "NÃO" %></td>
    <td><%= link_to 'Ver', page %></td>
    <td><%= link_to 'Editar', edit_page_path(page) %></td>
    <td><%= link_to 'Excluir?', page, :confirm => "Essa operação não pode ser desfeita, você tem certeza que quer excluir a área '#{page.name}'?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Área', new_page_path %>
