<p>
  <b>Nome:</b>
  <%=h @page.name %>
</p>

<p>
  <b>Título:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Corpo:</b>
  <%=h @page.body %>
</p>

<p>
  <b>Admin?:</b>
<%= @page.admin? ? "SIM" : "NÃO" %>
</p>

<%= link_to 'Quero alterar', edit_page_path(@page) %> |
<%= link_to 'OK. Volta', pages_path %>
